/*4-external*/
body{
    padding-bottom: 500px;
}
h3{
    color: green;
}
/*background com imagem*/
.bg-image{
    background-image: url("../HTML/img/a0ca97_bc92fa2de231418fa6559a7dd0ac0ec2_mv2_d_3556_4199_s_4_2.jpg");
    padding: 10px;
    color: blue;
}
/*CENTRALIZANDO BG IMAGE*/
.not-centered-bg,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(../HTML/img/a0ca97_bc92fa2de231418fa6559a7dd0ac0ec2_mv2_d_3556_4199_s_4_2.jpg);
}
.centered-bg{
    background-position: center;
    background-size: cover;
}
/*largura e altura*/
.height-wigth{
    height: 200px;
    width: 200px;
    background-color: red;
}
.height-wigth-2{
    height: 300px;
    background-color: #333;
}
/*padding*/
.without-padding{
    background-color: #111;
    color: #fff;
}
.padding{
    padding: 20px;
    background-color: #333;
    color: #fff;
}
/*padding individual*/
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}
/*shorthand padding*/
.shorthand-padding{
    background-color: #444;
    padding: 6px 12px 18px 24px;

}
.shorthand-padding-2{
    background-color: #589;
    padding: 10px 20px;
}
/*padding com width*/
.without-border-box{
    background-color: #444;
    color: #ffe;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #666;
    color: #ddd;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
/*Border*/
.border{
    border: 5px solid #967;
    padding: 10px;
}
.border-2{
border: 2px dotted #559;
padding: 25px;
}
/*Bordas individuais */
.border-left{
    border-left: 3px solid red;
    background-color: #333;
    padding: 25px;
}
.border-bottom{
    border-bottom: 5px double #399;
    background-color: #444;
    padding: 25px;
}
/*borda arredondada*/
.rounded-p{
    border: 5px solid blue;
    background-color: #111;
    border-radius: 15px;
    color: blue;
    padding: 5px;
}
.rounded-p-2{
    background-color: #111;
    border-radius: 15px;
    color: blue;
    padding: 5px;
}
/*margin*/
.margin{
    margin: 10px;
    background-color: #559;
}
.margin-top{
    margin-top: 50px;
    background-color: #967;
    padding: 10px;
}
.margin-shorthand{
    background-color: crimson;
    margin: 5px 10px 15px 20px ;
} 
/*box model*/
.box-model{
    width: 200px;
    height: 400px;
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid crimson;
}
/*Text aligment*/
.container-center{
text-align: center;
border: 1px solid  crimson;
width: 300px;
}
.text-aligned{
    text-align: right;
}
/*Text decoration*/
.underline{
    text-decoration:underline ;
}
.line-through{
text-decoration: line-through;
}
.remove-underline{
    text-decoration: none;
    color: crimson;
}
/*text transform*/
.upper{
text-transform: uppercase;
}
.lower{
text-transform: lowercase;
}
/*letter spacing*/
.spacing{
    letter-spacing: 5px;
}
/*Fonts*/
.serif{
font-family: Georgia;
}
.sans-serif{
font-family: Helvetica;
}
.monospace{
font-style: "Courier New";
}
.cursive{
font-family: cursive;
}
.fantasy{
font-family: fantasy;
}
/*font style*/
.italic{
font-style: italic;
}
.oblique{
font-style: oblique;
}
/*fonte weight*/
.thin, .bold, .bolder{
    font-family: Helvetica;
}
.thin{
font-weight: 100;
}
.bold{
font-weight: 600;
}
.bolder{
font-weight: 900;
}
/*font size*/
.small{
font-size: 8px;
background-color: rgb(194, 47, 72);
}
.big{
font-size: 70px;
background-color: rgb(194,47,72);
}
/*display*/
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #569;
    margin: 10px;
    display: inline-block;
}
.inline-block{
    background-color: #967;
    display: block;
    margin: 10px;
}
/*escondendo elementos*/
.invisible{
    display: none;
}
/*posição dos elementos-static*/
.static{
    position: static;
    background-color: #391;
    color: white;
    width: 90px;
    height: 80px;
}
/*relative*/
.relative{
position: relative;
background-color: #224;
color:#fff ;
width: 100px;
height: 100px;
top: 100px;
left: 100px;
}
/*absolute*/
.absolute{
    position:absolute ;
    background-color: #964;
    color: #fff;
    width: 100px;
    height: 100px;
    top:2px ;
    right: 2px;
    position: relative;
}
/*relative com absolute*/
.relative-container{
    width: 300px;
    height: 300px;
    border:  1px solid salmon;
    margin-top: 120px;
    position: relative;
}
.absolute-1,
.absolute-2{
width: 50px;
height: 50px;
background-color: #422;
position: absolute;
}
.absolute-1{
    top: 10px;
    left: 10px;
}
.absolute-2{
    bottom: 10px;
    right: 10px;
}
/*fixed*/
.fixed{
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    position: fixed;
    top: 50px;
    right: 100px;
}
/*sticky*/
.sticky{
    width: 100px;
    height: 100px;
    background-color: rgb(223, 220, 79);
    border: 1px solid rgb(17, 194, 46);
    position: sticky;
    top: 10px;
}
/*z index*/
.absolute-3,
.absolute-4,
.absolute-5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}
.absolute-3{
    top: 0;
    left: 0;
    z-index: 3;
}
.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}
.absolute-5{
    top: 40px;
    left: 40px;
    background-color: #409;
    z-index: 1;
}