/*2- media query*/
h1{
    color: red;
}
@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}
/* 3- media query com min width*/
p{
    background-color: mediumvioletred;
    color: #fff;
}
@media screen and (min-width: 800px){
    p{
        background-color: #333;
        color: mediumvioletred;
    }
}
/*4-landscape*/
h3{
    display: none;
}
@media screen and ( orientation: landscape) {
    h3{
        display: block;
    }
}
